#canvas {
  display: block;
  width: 100%; /* or specific value */
  height: 100%; /* or specific value */
}

/* Hide the HEX and RGB inputs in the color picker */
.react-colorful__inputs {
  display: none !important;
}
